<footer class="footer" [@fadeIn]>
    <div class="container">
      <div class="social-links">
        <a href="https://github.com/ymohd022" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/mohd-yousuf-702402254/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="mailto:mohdyousuf9059@gmail.com">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
      <div class="copyright">
        © {{currentYear}} Mohd Yousuf. All rights reserved.
      </div>
    </div>
  </footer>